$color-primary-1: red;
$color-primary-overlay: rgba(107, 33, 172, 0.31);
$color-light-1: #feffff;
$color-light-2: #def2f1;
$color-light-back-1: #f7f8fa;
$color-light-back-2: #f7f8fa;
$color-dark-1: #17252a;

/* 
$color-nobab-light-1: #feffff;
$color-nobab-light-2: #def2f1;
: #6b21ac;
$color-nobab-primary-2: rgba(107, 33, 172, 0.9);

$color-nobal-light: #fefefe;
$color-nobab-dark-2: #17252a;
*/
